<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climate Watch</title>
  

</head>

<body>
  <h1>Welcome to Climate Watch</h1>
  <p>This is a website that provides information about emissions of gases by different sectors of countries.</p>

  <!-- Filters Section -->
  <h2>Filters</h2>
  <form id="filter-form" action="{{url_for('filter_data')}}" method="post">
    <label for="country-select">Country:</label>
    <select name="country" id="country-select">
      <option value="None">None</option>
      <option value="Aruba">Aruba</option>
      <option value="Afghanistan">Afghanistan</option>
      <option value="Angola">Angola</option>
      <option value="Anguilla">Anguilla</option>
      <option value="Albania">Albania</option>
      <option value="Andorra">Andorra</option>
      <option value="United Arab Emirates">United Arab Emirates</option>
      <option value="Argentina">Argentina</option>
      <option value="Armenia">Armenia</option>
      <option value="Antarctica">Antarctica</option>
      <option value="Antigua and Barbuda">Antigua and Barbuda</option>
      <option value="Australia">Australia</option>
      <option value="Austria">Austria</option>
      <option value="Azerbaijan">Azerbaijan</option>
      <option value="Burundi">Burundi</option>
      <option value="Belgium">Belgium</option>
      <option value="Benin">Benin</option>
      <option value="Burkina Faso">Burkina Faso</option>
      <option value="Bangladesh">Bangladesh</option>
      <option value="Bulgaria">Bulgaria</option>
      <option value="Bahrain">Bahrain</option>
      <option value="Bahamas">Bahamas</option>
      <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
      <option value="Belarus">Belarus</option>
      <option value="Belize">Belize</option>
      <option value="Bolivia">Bolivia</option>
      <option value="Brazil">Brazil</option>
      <option value="Barbados">Barbados</option>
      <option value="Brunei">Brunei</option>
      <option value="Bhutan">Bhutan</option>
      <option value="Botswana">Botswana</option>
      <option value="Central African Republic">Central African Republic</option>
      <option value="Canada">Canada</option>
      <option value="Switzerland">Switzerland</option>
      <option value="Chile">Chile</option>
      <option value="China">China</option>
      <option value="Côte d'Ivoire">Côte d'Ivoire</option>
      <option value="Cameroon">Cameroon</option>
      <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
      <option value="Republic of Congo">Republic of Congo</option>
      <option value="Cook Islands">Cook Islands</option>
      <option value="Colombia">Colombia</option>
      <option value="Comoros">Comoros</option>
      <option value="Cape Verde">Cape Verde</option>
      <option value="Costa Rica">Costa Rica</option>
      <option value="Cuba">Cuba</option>
      <option value="Cyprus">Cyprus</option>
      <option value="Czech Republic">Czech Republic</option>
      <option value="Germany">Germany</option>
      <option value="Djibouti">Djibouti</option>
      <option value="Dominica">Dominica</option>
      <option value="Denmark">Denmark</option>
      <option value="Dominican Republic">Dominican Republic</option>
      <option value="Algeria">Algeria</option>
      <option value="Ecuador">Ecuador</option>
      <option value="Egypt">Egypt</option>
      <option value="Eritrea">Eritrea</option>
      <option value="Spain">Spain</option>
      <option value="Estonia">Estonia</option>
      <option value="Ethiopia">Ethiopia</option>
      <option value="Finland">Finland</option>
      <option value="Fiji">Fiji</option>
      <option value="France">France</option>
      <option value="Micronesia">Micronesia</option>
      <option value="Gabon">Gabon</option>
      <option value="United Kingdom">United Kingdom</option>
      <option value="Georgia">Georgia</option>
      <option value="Ghana">Ghana</option>
      <option value="Guinea">Guinea</option>
      <option value="Gambia">Gambia</option>
      <option value="Guinea-Bissau">Guinea-Bissau</option>
      <option value="Equatorial Guinea">Equatorial Guinea</option>
      <option value="Greece">Greece</option>
      <option value="Grenada">Grenada</option>
      <option value="Guatemala">Guatemala</option>
      <option value="Guyana">Guyana</option>
      <option value="Hong Kong, Special Administrative Region of China">Hong Kong, Special Administrative Region of China</option>
      <option value="Honduras">Honduras</option>
      <option value="Croatia">Croatia</option>
      <option value="Haiti">Haiti</option>
      <option value="Hungary">Hungary</option>
      <option value="Indonesia">Indonesia</option>
      <option value="India">India</option>
      <option value="Ireland">Ireland</option>
      <option value="Iran">Iran</option>
      <option value="Iraq">Iraq</option>
      <option value="Iceland">Iceland</option>
      <option value="Israel">Israel</option>
      <option value="Italy">Italy</option>
      <option value="Jamaica">Jamaica</option>
      <option value="Jordan">Jordan</option>
      <option value="Japan">Japan</option>
      <option value="Kazakhstan">Kazakhstan</option>
      <option value="Kenya">Kenya</option>
      <option value="Kyrgyzstan">Kyrgyzstan</option>
      <option value="Cambodia">Cambodia</option>
      <option value="Kiribati">Kiribati</option>
      <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
      <option value="South Korea">South Korea</option>
      <option value="Kuwait">Kuwait</option>
      <option value="Laos">Laos</option>
      <option value="Lebanon">Lebanon</option>
      <option value="Liberia">Liberia</option>
      <option value="Libya">Libya</option>
      <option value="Saint Lucia">Saint Lucia</option>
      <option value="Liechtenstein">Liechtenstein</option>
      <option value="Sri Lanka">Sri Lanka</option>
      <option value="Lesotho">Lesotho</option>
      <option value="Lithuania">Lithuania</option>
      <option value="Luxembourg">Luxembourg</option>
      <option value="Latvia">Latvia</option>
      <option value="Macao, Special Administrative Region of China">Macao, Special Administrative Region of China</option>
      <option value="Morocco">Morocco</option>
      <option value="Monaco">Monaco</option>
      <option value="Moldova">Moldova</option>
      <option value="Madagascar">Madagascar</option>
      <option value="Maldives">Maldives</option>
      <option value="Mexico">Mexico</option>
      <option value="Marshall Islands">Marshall Islands</option>
      <option value="Macedonia">Macedonia</option>
      <option value="Mali">Mali</option>
      <option value="Malta">Malta</option>
      <option value="Myanmar">Myanmar</option>
      <option value="Montenegro">Montenegro</option>
      <option value="Mongolia">Mongolia</option>
      <option value="Mozambique">Mozambique</option>
      <option value="Mauritania">Mauritania</option>
      <option value="Mauritius">Mauritius</option>
      <option value="Malawi">Malawi</option>
      <option value="Malaysia">Malaysia</option>
      <option value="Namibia">Namibia</option>
      <option value="Niger">Niger</option>
      <option value="Nigeria">Nigeria</option>
      <option value="Nicaragua">Nicaragua</option>
      <option value="Niue">Niue</option>
      <option value="Netherlands">Netherlands</option>
      <option value="Norway">Norway</option>
      <option value="Nepal">Nepal</option>
      <option value="Nauru">Nauru</option>
      <option value="New Zealand">New Zealand</option>
      <option value="Oman">Oman</option>
      <option value="Pakistan">Pakistan</option>
      <option value="Panama">Panama</option>
      <option value="Peru">Peru</option>
      <option value="Philippines">Philippines</option>
      <option value="Palau">Palau</option>
      <option value="Papua New Guinea">Papua New Guinea</option>
      <option value="Poland">Poland</option>
      <option value="North Korea">North Korea</option>
      <option value="Portugal">Portugal</option>
      <option value="Paraguay">Paraguay</option>
      <option value="Palestine">Palestine</option>
      <option value="Qatar">Qatar</option>
      <option value="Romania">Romania</option>
      <option value="Russia">Russia</option>
      <option value="Rwanda">Rwanda</option>
      <option value="Saudi Arabia">Saudi Arabia</option>
      <option value="Sudan">Sudan</option>
      <option value="Senegal">Senegal</option>
      <option value="Singapore">Singapore</option>
      <option value="Saint Helena">Saint Helena</option>
      <option value="Solomon Islands">Solomon Islands</option>
      <option value="Sierra Leone">Sierra Leone</option>
      <option value="El Salvador">El Salvador</option>
      <option value="San Marino">San Marino</option>
      <option value="Somalia">Somalia</option>
      <option value="Serbia">Serbia</option>
      <option value="South Sudan">South Sudan</option>
      <option value="Sao Tome and Principe">Sao Tome and Principe</option>
      <option value="Suriname">Suriname</option>
      <option value="Slovakia">Slovakia</option>
      <option value="Slovenia">Slovenia</option>
      <option value="Sweden">Sweden</option>
      <option value="Eswatini">Eswatini</option>
      <option value="Seychelles">Seychelles</option>
      <option value="Syria">Syria</option>
      <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
      <option value="Chad">Chad</option>
      <option value="Togo">Togo</option>
      <option value="Thailand">Thailand</option>
      <option value="Tajikistan">Tajikistan</option>
      <option value="Tokelau">Tokelau</option>
      <option value="Turkmenistan">Turkmenistan</option>
      <option value="Timor-Leste">Timor-Leste</option>
      <option value="Tonga">Tonga</option>
      <option value="Trinidad and Tobago">Trinidad and Tobago</option>
      <option value="Tunisia">Tunisia</option>
      <option value="Türkiye">Türkiye</option>
      <option value="Tuvalu">Tuvalu</option>
      <option value="Taiwan, Republic of China">Taiwan, Republic of China</option>
      <option value="Tanzania">Tanzania</option>
      <option value="Uganda">Uganda</option>
      <option value="Ukraine">Ukraine</option>
      <option value="Uruguay">Uruguay</option>
      <option value="United States">United States</option>
      <option value="Uzbekistan">Uzbekistan</option>
      <option value="Holy See">Holy See</option>
      <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
      <option value="Venezuela">Venezuela</option>
      <option value="British Virgin Islands">British Virgin Islands</option>
      <option value="Vietnam">Vietnam</option>
      <option value="Vanuatu">Vanuatu</option>
      <option value="Samoa">Samoa</option>
      <option value="Yemen">Yemen</option>
      <option value="South Africa">South Africa</option>
      <option value="Zambia">Zambia</option>
      <option value="Zimbabwe">Zimbabwe</option>
    </select>

      <!-- Add more countries as needed -->
    </select>
    <label for="sector-select">Sector:</label>
    <select name="sector" id="sector-select">
      <option value="None">None</option>
      <option value="Energy">Energy</option>
      <option value="Industrial Processes and Product Use">Industrial Processes and Product Use</option>
      <option value="Other">Other</option>
      <option value="Total excluding LULUCF">Total excluding LULUCF</option>
      <option value="Waste">Waste</option>
      <option value="Total excluding LUCF">Total excluding LUCF</option>
      <option value="Total including LUCF">Total including LUCF</option>
      <option value="Industrial Processes">Industrial Processes</option>
      <option value="Agriculture">Agriculture</option>
      <option value="Land-Use Change and Forestry">Land-Use Change and Forestry</option>
      <option value="Bunker Fuels">Bunker Fuels</option>
      <option value="Electricity/Heat">Electricity/Heat</option>
      <option value="Building">Building</option>
      <option value="Manufacturing/Construction">Manufacturing/Construction</option>
      <option value="Transportation">Transportation</option>
      <option value="Other Fuel Combustion">Other Fuel Combustion</option>
      <option value="Fugitive Emissions">Fugitive Emissions</option>
      <option value="Land Use, Land-Use Change and Forestry">Land Use, Land-Use Change and Forestry</option>
      <option value="Total GHG emissions with LULUCF">Total GHG emissions with LULUCF</option>
      <option value="Total GHG emissions without LULUCF">Total GHG emissions without LULUCF</option>
      <option value="Total GHG emissions excluding LULUCF/LUCF">Total GHG emissions excluding LULUCF/LUCF</option>
      <option value="Total GHG emissions including LULUCF/LUCF">Total GHG emissions including LULUCF/LUCF</option>
      <option value="Cement">Cement</option>
      <option value="Coal">Coal</option>
      <option value="Gas">Gas</option>
      <option value="Gas flaring">Gas flaring</option>
      <option value="Oil">Oil</option>
      <option value="Total fossil fuels and cement">Total fossil fuels and cement</option>
    </select>
    </select>
    <label for="gas-select">Gas:</label>
    <select name="gas" id="gas-select">
      <option value="None">None</option>
      <option value="CH4">CH4</option>
      <option value="CO2">CO2</option>
      <option value="KYOTOGHG">KYOTOGHG</option>
      <option value="N2O">N2O</option>
      <option value="All GHG">All GHG</option>
      <option value="F-Gas">F-Gas</option>
      <option value="Aggregate GHGs">Aggregate GHGs</option>
      <option value="Aggregate F-gases">Aggregate F-gases</option>
    </select>


    <button type="submit">Apply Filters</button>
  </form>

  
  <h2>"Data Table"</h2>
  
  <!-- {% for table in tables %}
      {{ table|safe }}
  {% endfor %} -->

   {{ tables|safe }}
</body>
</html>
